/*
[step01.css]
#content { 
	height: 500px; <-- 제거
}

[step06.css]
#main-section {
    float: left;
    width: 630px;
    height: 500px; <-- 제거
}
*/

article { 
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid #C8C8C8;
}

.article-header { padding: 20px 0; }
.article-title { 
    font-size: 25px;
    font-weight: 500; 
    padding-bottom: 10px;
}
.article-date { font-size: 13px; }
.article-body {
    font-size: 14px;
}


.aside-list { padding: 10px 0 30px 0; }
.aside-list > h3 {
    font-size: 15px;
    font-weight: 600;
}
.aside-list li a {
    margin-left: 8px;
    font-size: 13px;
    color: #6C6C6C;
}

