<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chap19/src/sec19/exam01_nio/FuleChannelWriteExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec19.exam01_nio.FuleChannelWriteExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chap19"/>
</launchConfiguration>
